.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.e1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.e2 {
    text-align: center;

}

.card {
    border: 2px solid black;
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 5px 0px;
    position: relative;
    padding: 10px;
}

.cname {
    font-size: 20px;
    font-weight: bold;
}

.prize {
    font-size: 30px;
    font-weight: bolder;
    color: #af2f00
}

.plan {
    text-align: center;
    padding: 5px;
    width: 180px;
    height: 25px;
    bottom: 10px;
    right: 20px;
    border: 3px solid black;
    position: absolute;

}

.content {
    gap: 5px;
}

.card:hover {
    background-color: #2f3131;
    color: white;
    border: 3px solid orange;
}

.plan:hover {
    background-color: orange;
    color: white;
    border: 3px solid black;
}

.c2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    border-bottom: 2px solid grey;

}

.parent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px;
    position: relative;
}

.s1 {
    font-size: 30px;
    font-weight: bolder;
}

.s {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.s2 {
    color: grey
}

.s3 {
    right: 40px;
    position: absolute;
    color: orange;
}

.c3 {
    gap: 15px;
}